* {
    padding: 0;
    margin: 0;
}

.buttons-block {
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
}

.btn {
    padding: 5px 15px 5px 15px;
    background-color: #00000000;
    border-width: 1px;
    border-radius: 10px;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.show-block {
    display: block;
}

.hide-block {
    display: none;
}